<div class="mainBody" >
<h2> Education </h2>

<h2> Slippery Rock University, Slippery Rock, PA </h2>

<ul>
  <li> GPA 3.5 </li>
  <li> Major: Bachelors in Computer Science </li>
  <li> Minor: Professional Japanese </li>
  <li> Certificate: Japanese Studies </li>
  <li> Expected Graduation: Fall 2019 </li>
  <li> Favorite Class: Linux Shell Scripting </li>
  <li> GExtracurricular Project: Built a portable DNS spoof device using a Raspberry Pi </li>
</ul>

<h2> Skills </h2>

<ul>
  <li> Programming/Scripting languages most familiar with: C++, Java, JavaScript, Python, and Bash </li>
  <li> Very familiar with GNU/Linux in Bash shell environment </li>
  <li> Skilled with critical thinking, and complex mathematical thinking </li>
  <li> Experience with Web Development in three.js and angular </li>
</ul>

<h2> Interests and Passions </h2>

<ul>
  <li> Japanese Club President </li>
  <li> Participated in school visits to teach children about Japanese culture </li>
</ul>
<br>
<h2> Job Experience </h2>
<h3> Salesman </h3>
<h3> July 2018 - August 2019 </h3>
<h3> Carried Away Outfitters, Greenville, PA </h3>
<ul>
  <li>Rented kayaks, paddles boards and bikes. </li>
  <li>Sold kayaks, paddles boards and other related accessories. </li>
  <li>Fixed any IT related/computer related issues such as keeping their computers secure, fixing printers, etc. </li>
  <li>Created bike maps for company related events</li>
</ul>
<br>
<h3> Land Surveying Assistant </h3>
<h3> July 2017 – September 2017 </h3>
<h3> Sorg Surveying, Greenville, PA </h3>
<ul>
  <li> Assisted in carrying equipment, setting up equipment, etc over long distances </li>
  <li> Measured dimensions of houses, barns, and other buildings </li>
</ul>
</div>
